.home {
	padding: 40;
}
.home-grid {
	min-height: 50vh;
}

.home-container {
	padding-top: 10px;
	padding-bottom: 20px;
	margin-left: 50px;
	margin-right: 50px;
}
.home-container .input {
	margin-top: 15px;
}

.error-text {
	color: red;
}
